<footer class="page-footer">
  <a href="{{ site.facebook_url }}" target="_blank" rel="noopener noreferrer">
    <img
      src="{{ "/assets/img/logos/facebook.png" | relative_url }}"
      width="20"
      height="20"
    />
  </a>
  <a href="{{ site.instagram_url }}" target="_blank" rel="noopener noreferrer">
    <img
      src="{{ "/assets/img/logos/instagram.png" | relative_url }}"
      width="20"
      height="20"
    />
  </a>
  <a href="mailto:{{ site.email }}">
    <img
      src="{{ "/assets/img/logos/email.png" | relative_url }}"
      width="20"
      height="20"
    />
  </a>
</footer>
